//Add custom modifiers here
@import url('https://fonts.googleapis.com/css?family=Roboto');

//Override existing colors
$primary: rgb(0, 38, 144);
$secondary: pink;
$success: rgb(88, 180, 88);
$info: rgb(72, 125, 175);
$warning: rgb(204, 164, 78);
$danger: rgb(182, 62, 62);
$light: #f8f9fa; 
$dark: rgb(22,22,22);

//add to sass map new colors
$theme-colors: (
  "blue-gray": rgb(144, 148, 182)
);

//Fonts
$font-family-sans-serif: 'Roboto',"Helvetica Neue", Arial, 'sans-serif';


@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-vue/src/index.scss';